<div class="container-fluid">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lx-12">
        <br>
        <br>
   <h2 class="title-text">Featured Books For July</h2>
        <br>

 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-info btn-sm" href="?category=Startup"><span class="lead">Startup</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-info btn-sm" href="?category=Programming"><span class="lead">Programming</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-info btn-sm" href="?category=Investment"><span class="lead">Investment</span></a>
  </li>
</ul>
        <br>
        <br>
     <h5 class="title-text text-center">Top 10 book about"{{ category }}"</h5>
        <br>
</div>
    </div>


    </div>