{% extends 'base.html' %}

{% block content%}

<div class="container">
    <br>
    <br>
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col-3">
        <p class="float-left"> <img src="{{ product.image}}" height="200" width="180"></p>
        </div>
        <div class="col-9">
             <h3 class="">{{ product.title }}</h3>
    <hr>
            <p class="lead">Price: ${{ product.price}}</p>
    <span class="btn btn-warning">Rating:{{ product.rating }}</span>
    <span class="btn btn-warning">Count:{{ product.rating_count}}</span>
   <span class="btn btn-warning float-right">Customer satisfaction {{ product.hotscore }}%</span>

    <br>

        <br>
    <hr>
        <a class="btn btn-danger float-left" href="{{ product.link }} " role="button" target="_blank">View on Amazon</a>

        <a class="btn btn-danger float-right" href="{{ product.goodreads_url }} " role="button" target="_blank">View on Goodread</a>


  <!--<p class="lead">{{product.description|force_escape|linebreaks }}</p>-->

        </div>
    </div>
</div>


    <div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">

    <h3 class="title-text">Top customer reviews from Goodreads</h3>
      <br>
{% for review in reviews %}
     <p class="lead">{{ review }}</p>
            <p class="content-text">-by anonymous users from Goodreads</p>
      {% endfor %}
  </div>
    <br>
    </div>


    </div>





<br><br><br><br><br>
{% endblock %}