<!-- Search List Session-->
<div class="container-fluid bg-light">


        <div class="row">
        {% for item in item_list %}
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-lx-4">

            <div class="card" style="width: 20rem;">





        <div class="card-body">
           <p><span class="float-left badge badge-pill badge-warning" >#{{ forloop.counter}}</span> <span class="card-text">{{ item.title | truncatechars:55 }}</span></p>



       <!--</p>-->
        <p class="text-center"><a href="/items/detail/{{item.id}}/" target="_blank"><img src="{{ item.image }}" height="100"></a></p>
         <p class="card-text"><img src="https://s3-us-west-1.amazonaws.com/a1-language/media/image/rating.png" height="22" width="22">Rating:{{ item.rating }}·Count:{{item.rating_count}} {% if item.price %}·Price:${{ item.price}}{% endif %}</p>

        </div>
</div>
</div>
{% endfor %}


    </div>
</div>